src/main/resources/templates/CN5.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Generated using tds-default.xsl v2.3 ($Revision$)-->
<xs:schema xmlns:oe="http://schemas.openehr.org/v1" xmlns="http://schemas.oceanehr.com/templates"
  elementFormDefault="qualified" targetNamespace="http://schemas.oceanehr.com/templates"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.openehr.org/releases/trunk/its/XML-schema/Structure.xsd"
    namespace="http://schemas.openehr.org/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="Referência" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="xs:string" fixed="Referência"/>
              <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
        <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="feeder_audit" type="oe:FEEDER_AUDIT" minOccurs="0"/>
        <xs:element name="language">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="terminology_id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="code_string" fixed="pt" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="territory">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="terminology_id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" fixed="ISO_3166-1" type="xs:token"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="code_string" default="AU" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="category">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="xs:string" fixed="event"/>
              <xs:element name="defining_code">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="terminology_id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" fixed="openehr" type="xs:token"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="code_string" fixed="433" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="composer" type="oe:PARTY_PROXY"/>
        <xs:element name="context">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="start_time" type="oe:DV_DATE_TIME"/>
              <xs:element name="end_time" minOccurs="0" maxOccurs="1" type="oe:DV_DATE_TIME"/>
              <xs:element name="location" minOccurs="0" maxOccurs="1" type="xs:string"/>
              <xs:element name="setting" type="oe:DV_CODED_TEXT"/>
              <xs:element name="Paciente" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any processContents="lax"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="health_care_facility" minOccurs="0" maxOccurs="1"
                type="oe:PARTY_IDENTIFIED"/>
              <xs:element name="participations" minOccurs="0" maxOccurs="unbounded"
                type="oe:PARTICIPATION"/>
            </xs:sequence>
            <xs:attribute name="other_context_node_id" fixed="at0001" type="oe:archetypeNodeId"/>
            <xs:attribute name="other_context_type" fixed="ITEM_TREE" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="Requisição_de_serviço">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="name">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="value" type="xs:string" default="Requisição de serviço"/>
                      <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                        maxOccurs="unbounded"/>
                      <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
                <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="language">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="terminology_id">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="code_string" default="en" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="encoding">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="terminology_id">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" fixed="IANA_character-sets" type="xs:token"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="code_string" default="UTF-8" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="subject" type="oe:PARTY_SELF"/>
                <xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0" maxOccurs="1"/>
                <xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0"
                  maxOccurs="unbounded"/>
                <xs:element name="work_flow_id" type="oe:OBJECT_REF" minOccurs="0" maxOccurs="1"/>
                <xs:element name="protocol" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Extensão" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:any processContents="lax"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Solicitante" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:any processContents="lax"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Receptor" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:any processContents="lax"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Lista_de_distribuição_de_responsáveis" minOccurs="0"
                        maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:any processContents="lax"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="at0008" name="archetype_node_id" type="oe:archetypeNodeId"/>
                    <xs:attribute fixed="ITEM_TREE" name="type"/>
                  </xs:complexType>
                </xs:element>
                <xs:element name="narrative" type="oe:DV_TEXT"/>
                <xs:element name="Requisição" minOccurs="1" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="name">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="xs:string" default="Requisição"/>
                            <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                              maxOccurs="unbounded"/>
                            <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
                      <xs:element name="timing" type="oe:DV_PARSABLE"/>
                      <xs:element name="description">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Especialidade">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          fixed="Especialidade"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:choice>
                                    <xs:element name="value" type="oe:DV_CODED_TEXT"/>
                                    <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                  </xs:choice>
                                </xs:sequence>
                                <xs:attribute fixed="at0121.1" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="ELEMENT" name="type"/>
                                <xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Condição_clínica_da_referência">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          fixed="Condição clínica da referência"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:choice>
                                    <xs:element name="value" type="oe:DV_TEXT"/>
                                    <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                  </xs:choice>
                                </xs:sequence>
                                <xs:attribute fixed="at0062" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="ELEMENT" name="type"/>
                                <xs:attribute name="valueType" fixed="DV_TEXT"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Identificação_do_profissional">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          fixed="Identificação do profissional"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="Nome_da_pessoa" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="name">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="value" type="xs:string"
                                                default="Nome da pessoa"/>
                                              <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                              <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                                minOccurs="0"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Nome_completo" minOccurs="0">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="name">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="value" type="xs:string"
                                                  fixed="Nome completo"/>
                                                  <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                  minOccurs="0" maxOccurs="unbounded"/>
                                                  <xs:element name="defining_code"
                                                  type="oe:CODE_PHRASE" minOccurs="0"/>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:choice>
                                                <xs:element name="value" type="oe:DV_TEXT"/>
                                                <xs:element name="null_flavour"
                                                  type="oe:DV_CODED_TEXT"/>
                                              </xs:choice>
                                            </xs:sequence>
                                            <xs:attribute fixed="at0001" name="archetype_node_id"
                                              type="oe:archetypeNodeId"/>
                                            <xs:attribute fixed="ELEMENT" name="type"/>
                                            <xs:attribute name="valueType" fixed="DV_TEXT"/>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                      <xs:attribute fixed="openEHR-EHR-CLUSTER.person_name.v1"
                                        name="archetype_node_id" type="oe:archetypeNodeId"/>
                                      <xs:attribute fixed="CLUSTER" name="type"/>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="CNS">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="name">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="value" type="xs:string"
                                                default="CNS"/>
                                              <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                              <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                                minOccurs="0"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:choice>
                                          <xs:element name="value" type="oe:DV_TEXT"/>
                                          <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                        </xs:choice>
                                      </xs:sequence>
                                      <xs:attribute fixed="at0.34" name="archetype_node_id"
                                        type="oe:archetypeNodeId"/>
                                      <xs:attribute fixed="ELEMENT" name="type"/>
                                      <xs:attribute name="valueType" fixed="DV_TEXT"/>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="CBO">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="name">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="value" type="xs:string"
                                                default="CBO"/>
                                              <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                              <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                                minOccurs="0"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:choice>
                                          <xs:element name="value" type="oe:DV_TEXT"/>
                                          <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                        </xs:choice>
                                      </xs:sequence>
                                      <xs:attribute fixed="at0.35" name="archetype_node_id"
                                        type="oe:archetypeNodeId"/>
                                      <xs:attribute fixed="ELEMENT" name="type"/>
                                      <xs:attribute name="valueType" fixed="DV_TEXT"/>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute
                                  fixed="openEHR-EHR-CLUSTER.individual_professional-ms_br.v1"
                                  name="archetype_node_id" type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="CLUSTER" name="type"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Anexo" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:any processContents="lax"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Conteúdo_clínico_da_referência">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          fixed="Conteúdo clínico da referência"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:choice>
                                    <xs:element name="value" type="oe:DV_TEXT"/>
                                    <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                  </xs:choice>
                                </xs:sequence>
                                <xs:attribute fixed="at0078" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="ELEMENT" name="type"/>
                                <xs:attribute name="valueType" fixed="DV_TEXT"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Requisitos_do_paciente" minOccurs="0"
                              maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:any processContents="lax"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute fixed="at0009" name="archetype_node_id"
                            type="oe:archetypeNodeId"/>
                          <xs:attribute fixed="ITEM_TREE" name="type"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="action_archetype_id">
                        <!-- NOT IMPLEMENTED --> </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
                    <xs:attribute fixed="ACTIVITY" name="type"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute fixed="openEHR-EHR-INSTRUCTION.request-ms_br.v0"
                name="archetype_node_id" type="oe:archetypeNodeId"/>
              <xs:attribute fixed="INSTRUCTION" name="type"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="Lista_de_problemas" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="name">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="value" type="xs:string" default="Lista de problemas"/>
                      <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                        maxOccurs="unbounded"/>
                      <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Problema_Diagnóstico" minOccurs="1" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="name">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="xs:string" default="Problema Diagnóstico"/>
                            <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                              maxOccurs="unbounded"/>
                            <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
                      <xs:element name="language">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="terminology_id">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="code_string" default="en" type="xs:string"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="encoding">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="terminology_id">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" fixed="IANA_character-sets"
                                    type="xs:token"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="code_string" default="UTF-8" type="xs:string"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="subject" type="oe:PARTY_SELF"/>
                      <xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0"
                        maxOccurs="1"/>
                      <xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0"
                        maxOccurs="unbounded"/>
                      <xs:element name="work_flow_id" type="oe:OBJECT_REF" minOccurs="0"
                        maxOccurs="1"/>
                      <xs:element name="protocol" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Extensão" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:any processContents="lax"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute fixed="at0032" name="archetype_node_id"
                            type="oe:archetypeNodeId"/>
                          <xs:attribute fixed="ITEM_TREE" name="type"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="data">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Diagnóstico">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          fixed="Diagnóstico"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:choice>
                                    <xs:element name="value">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="value" type="xs:string"/>
                                          <xs:element name="mappings" type="oe:TERM_MAPPING"
                                            minOccurs="0" maxOccurs="unbounded"/>
                                          <xs:element name="defining_code">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element name="terminology_id">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="value" type="xs:token"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                                <xs:element name="code_string" type="xs:string"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                  </xs:choice>
                                </xs:sequence>
                                <xs:attribute fixed="at0002.1" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="ELEMENT" name="type"/>
                                <xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Local_estruturado_do_corpo" minOccurs="0"
                              maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:any processContents="lax"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Detalhes_específicos" minOccurs="0"
                              maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:any processContents="lax"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Estado_do_Problema__fslash__Diagnóstico" minOccurs="0"
                              maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          default="Estado do Problema / Diagnóstico"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="Categoria_DRG">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="name">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="value" type="xs:string"
                                                default="Categoria DRG"/>
                                              <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                              <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                                minOccurs="0"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:choice>
                                          <xs:element name="value">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element name="value" type="xs:string"
                                                  minOccurs="0"/>
                                                <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                  minOccurs="0" maxOccurs="unbounded"/>
                                                <xs:element name="defining_code">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="terminology_id">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="value" fixed="local"
                                                  type="xs:token"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="code_string">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="at0064"/>
                                                  <!-- Value = Diagnóstico principal -->
                                                  <xs:enumeration value="at0066"/>
                                                  <!-- Value = Diagnóstico secundário -->
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                        </xs:choice>
                                      </xs:sequence>
                                      <xs:attribute fixed="at0063" name="archetype_node_id"
                                        type="oe:archetypeNodeId"/>
                                      <xs:attribute fixed="ELEMENT" name="type"/>
                                      <xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute fixed="openEHR-EHR-CLUSTER.problem_status.v0"
                                  name="archetype_node_id" type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="CLUSTER" name="type"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute fixed="at0001" name="archetype_node_id"
                            type="oe:archetypeNodeId"/>
                          <xs:attribute fixed="ITEM_TREE" name="type"/>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="openEHR-EHR-EVALUATION.problem_diagnosis-ms_br.v1"
                      name="archetype_node_id" type="oe:archetypeNodeId"/>
                    <xs:attribute fixed="EVALUATION" name="type"/>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Procedimentos" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:any processContents="lax"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Declarações_de_exclusão" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:any processContents="lax"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Informações_de_ausência" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:any processContents="lax"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute fixed="openEHR-EHR-SECTION.problem_list.v1" name="archetype_node_id"
                type="oe:archetypeNodeId"/>
              <xs:attribute fixed="SECTION" name="type"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="Tratamentos_ativos" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="name">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="value" type="xs:string" fixed="Tratamentos ativos"/>
                      <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                        maxOccurs="unbounded"/>
                      <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Tratamentos_ativos" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="name">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="xs:string" fixed="Tratamentos ativos"/>
                            <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                              maxOccurs="unbounded"/>
                            <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
                      <xs:element name="language">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="terminology_id">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="code_string" default="en" type="xs:string"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="encoding">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="terminology_id">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" fixed="IANA_character-sets"
                                    type="xs:token"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="code_string" default="UTF-8" type="xs:string"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="subject" type="oe:PARTY_SELF"/>
                      <xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0"
                        maxOccurs="1"/>
                      <xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0"
                        maxOccurs="unbounded"/>
                      <xs:element name="work_flow_id" type="oe:OBJECT_REF" minOccurs="0"
                        maxOccurs="1"/>
                      <xs:element name="protocol" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Extensão" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:any processContents="lax"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute fixed="at0005" name="archetype_node_id"
                            type="oe:archetypeNodeId"/>
                          <xs:attribute fixed="ITEM_TREE" name="type"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="data">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Medicamento" minOccurs="0">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          fixed="Medicamento"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:choice>
                                    <xs:element name="value" type="oe:DV_TEXT"/>
                                    <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                  </xs:choice>
                                </xs:sequence>
                                <xs:attribute fixed="at0002" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="ELEMENT" name="type"/>
                                <xs:attribute name="valueType" fixed="DV_TEXT"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute fixed="at0001" name="archetype_node_id"
                            type="oe:archetypeNodeId"/>
                          <xs:attribute fixed="ITEM_TREE" name="type"/>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="openEHR-EHR-EVALUATION.medication_summary.v0"
                      name="archetype_node_id" type="oe:archetypeNodeId"/>
                    <xs:attribute fixed="EVALUATION" name="type"/>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Não_farmacológico" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="name">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="xs:string" fixed="Não farmacológico"/>
                            <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                              maxOccurs="unbounded"/>
                            <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
                      <xs:element name="language">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="terminology_id">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="code_string" default="en" type="xs:string"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="encoding">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="terminology_id">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" fixed="IANA_character-sets"
                                    type="xs:token"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="code_string" default="UTF-8" type="xs:string"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="subject" type="oe:PARTY_SELF"/>
                      <xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0"
                        maxOccurs="1"/>
                      <xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0"
                        maxOccurs="unbounded"/>
                      <xs:element name="work_flow_id" type="oe:OBJECT_REF" minOccurs="0"
                        maxOccurs="1"/>
                      <xs:element name="protocol" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Extensão" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:any processContents="lax"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute fixed="at0004" name="archetype_node_id"
                            type="oe:archetypeNodeId"/>
                          <xs:attribute fixed="ITEM_TREE" name="type"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="data">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Não_farmacológico" minOccurs="0">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          fixed="Não farmacológico"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:choice>
                                    <xs:element name="value" type="oe:DV_TEXT"/>
                                    <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                  </xs:choice>
                                </xs:sequence>
                                <xs:attribute fixed="at0002" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="ELEMENT" name="type"/>
                                <xs:attribute name="valueType" fixed="DV_TEXT"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute fixed="at0001" name="archetype_node_id"
                            type="oe:archetypeNodeId"/>
                          <xs:attribute fixed="ITEM_TREE" name="type"/>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="openEHR-EHR-EVALUATION.recommendation.v1"
                      name="archetype_node_id" type="oe:archetypeNodeId"/>
                    <xs:attribute fixed="EVALUATION" name="type"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute fixed="openEHR-EHR-SECTION.adhoc.v1" name="archetype_node_id"
                type="oe:archetypeNodeId"/>
              <xs:attribute fixed="SECTION" name="type"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="Classificação_de_risco_da_solicitação">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="name">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="value" type="xs:string"
                        fixed="Classificação de risco da solicitação"/>
                      <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                        maxOccurs="unbounded"/>
                      <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Avaliação_da_triagem" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="name">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="xs:string" default="Avaliação da triagem"/>
                            <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                              maxOccurs="unbounded"/>
                            <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
                      <xs:element name="language">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="terminology_id">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="code_string" default="en" type="xs:string"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="encoding">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="terminology_id">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" fixed="IANA_character-sets"
                                    type="xs:token"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="code_string" default="UTF-8" type="xs:string"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="subject" type="oe:PARTY_SELF"/>
                      <xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0"
                        maxOccurs="1"/>
                      <xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0"
                        maxOccurs="unbounded"/>
                      <xs:element name="work_flow_id" type="oe:OBJECT_REF" minOccurs="0"
                        maxOccurs="1"/>
                      <xs:element name="data">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Justificativa_do_risco" minOccurs="0">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          fixed="Justificativa do risco"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:choice>
                                    <xs:element name="value" type="oe:DV_TEXT"/>
                                    <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                  </xs:choice>
                                </xs:sequence>
                                <xs:attribute fixed="at0008" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="ELEMENT" name="type"/>
                                <xs:attribute name="valueType" fixed="DV_TEXT"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Classificação_de_risco">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          default="Classificação de risco"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:choice>
                                    <xs:element name="value">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="value" type="xs:string" minOccurs="0"/>
                                          <xs:element name="mappings" type="oe:TERM_MAPPING"
                                            minOccurs="0" maxOccurs="unbounded"/>
                                          <xs:element name="defining_code">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element name="terminology_id">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="value" fixed="local"
                                                  type="xs:token"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                                <xs:element name="code_string">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="at0.21"/>
                                                  <!-- Value = Prioridade 0 -->
                                                  <xs:enumeration value="at0.22"/>
                                                  <!-- Value = Prioridade 1 -->
                                                  <xs:enumeration value="at0.23"/>
                                                  <!-- Value = Prioridade 2 -->
                                                  <xs:enumeration value="at0.24"/>
                                                  <!-- Value = Prioridade 3 -->
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                  </xs:choice>
                                </xs:sequence>
                                <xs:attribute fixed="at0.20" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="ELEMENT" name="type"/>
                                <xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute fixed="at0001" name="archetype_node_id"
                            type="oe:archetypeNodeId"/>
                          <xs:attribute fixed="ITEM_TREE" name="type"/>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="openEHR-EHR-EVALUATION.triage-ms_br.v1"
                      name="archetype_node_id" type="oe:archetypeNodeId"/>
                    <xs:attribute fixed="EVALUATION" name="type"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute fixed="openEHR-EHR-SECTION.adhoc.v1" name="archetype_node_id"
                type="oe:archetypeNodeId"/>
              <xs:attribute fixed="SECTION" name="type"/>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:attribute fixed="openEHR-EHR-COMPOSITION.referral.v1" name="archetype_node_id"
        type="oe:archetypeNodeId"/>
      <xs:attribute fixed="COMPOSITION" name="type"/>
      <xs:attribute fixed="Referencia_CN5_v2" name="template_id" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
