src/main/resources/templates/CN6.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Generated using tds-default.xsl v2.3 ($Revision$)-->
<xs:schema xmlns:oe="http://schemas.openehr.org/v1" xmlns="http://schemas.oceanehr.com/templates"
  elementFormDefault="qualified" targetNamespace="http://schemas.oceanehr.com/templates"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.openehr.org/releases/trunk/its/XML-schema/Structure.xsd"
    namespace="http://schemas.openehr.org/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="Registro_de_imunobiológico" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="xs:string" fixed="Registro de imunobiológico"/>
              <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
        <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="feeder_audit" type="oe:FEEDER_AUDIT" minOccurs="0"/>
        <xs:element name="language">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="terminology_id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="code_string" fixed="pt" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="territory">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="terminology_id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" fixed="ISO_3166-1" type="xs:token"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="code_string" default="AU" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="category">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="xs:string" fixed="event"/>
              <xs:element name="defining_code">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="terminology_id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" fixed="openehr" type="xs:token"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="code_string" fixed="433" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="composer" type="oe:PARTY_PROXY"/>
        <xs:element name="context">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="start_time" type="oe:DV_DATE_TIME"/>
              <xs:element name="end_time" minOccurs="0" maxOccurs="1" type="oe:DV_DATE_TIME"/>
              <xs:element name="location" minOccurs="0" maxOccurs="1" type="xs:string"/>
              <xs:element name="setting" type="oe:DV_CODED_TEXT"/>
              <xs:element name="Extensão" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any processContents="lax"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="health_care_facility" minOccurs="0" maxOccurs="1"
                type="oe:PARTY_IDENTIFIED"/>
              <xs:element name="participations" minOccurs="0" maxOccurs="unbounded"
                type="oe:PARTICIPATION"/>
            </xs:sequence>
            <xs:attribute name="other_context_node_id" fixed="at0001" type="oe:archetypeNodeId"/>
            <xs:attribute name="other_context_type" fixed="ITEM_TREE" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="Caracterização_do_registro">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="name">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="value" type="xs:string" fixed="Caracterização do registro"/>
                      <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                        maxOccurs="unbounded"/>
                      <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Admissão_do_paciente" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="name">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="xs:string" default="Admissão do paciente"/>
                            <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                              maxOccurs="unbounded"/>
                            <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
                      <xs:element name="language">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="terminology_id">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="code_string" default="en" type="xs:string"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="encoding">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="terminology_id">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" fixed="IANA_character-sets"
                                    type="xs:token"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="code_string" default="UTF-8" type="xs:string"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="subject" type="oe:PARTY_SELF"/>
                      <xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0"
                        maxOccurs="1"/>
                      <xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0"
                        maxOccurs="unbounded"/>
                      <xs:element name="work_flow_id" type="oe:OBJECT_REF" minOccurs="0"
                        maxOccurs="1"/>
                      <xs:element name="data">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Localização_atribuída_ao_paciente" minOccurs="0">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          default="Localização atribuída ao paciente"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="Instituição" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="name">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="value" type="xs:string"
                                                default="Instituição"/>
                                              <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                              <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                                minOccurs="0"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="CNES">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="name">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="value" type="xs:string"
                                                  default="CNES"/>
                                                  <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                  minOccurs="0" maxOccurs="unbounded"/>
                                                  <xs:element name="defining_code"
                                                  type="oe:CODE_PHRASE" minOccurs="0"/>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:choice>
                                                <xs:element name="value" type="oe:DV_TEXT"/>
                                                <xs:element name="null_flavour"
                                                  type="oe:DV_CODED_TEXT"/>
                                              </xs:choice>
                                            </xs:sequence>
                                            <xs:attribute fixed="at0.158" name="archetype_node_id"
                                              type="oe:archetypeNodeId"/>
                                            <xs:attribute fixed="ELEMENT" name="type"/>
                                            <xs:attribute name="valueType" fixed="DV_TEXT"/>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                      <xs:attribute fixed="at0104" name="archetype_node_id"
                                        type="oe:archetypeNodeId"/>
                                      <xs:attribute fixed="CLUSTER" name="type"/>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute fixed="at0073" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="CLUSTER" name="type"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Identificação_do_profissional_">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          fixed="Identificação do profissional "/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="Nome_completo" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="name">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="value" type="xs:string"
                                                fixed="Nome completo"/>
                                              <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                              <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                                minOccurs="0"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:choice>
                                          <xs:element name="value" type="oe:DV_TEXT"/>
                                          <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                        </xs:choice>
                                      </xs:sequence>
                                      <xs:attribute fixed="at0099" name="archetype_node_id"
                                        type="oe:archetypeNodeId"/>
                                      <xs:attribute fixed="ELEMENT" name="type"/>
                                      <xs:attribute name="valueType" fixed="DV_TEXT"/>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="CNS">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="name">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="value" type="xs:string"
                                                default="CNS"/>
                                              <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                              <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                                minOccurs="0"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:choice>
                                          <xs:element name="value" type="oe:DV_TEXT"/>
                                          <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                        </xs:choice>
                                      </xs:sequence>
                                      <xs:attribute fixed="at0.165" name="archetype_node_id"
                                        type="oe:archetypeNodeId"/>
                                      <xs:attribute fixed="ELEMENT" name="type"/>
                                      <xs:attribute name="valueType" fixed="DV_TEXT"/>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="CBO" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="name">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="value" type="xs:string"
                                                default="CBO"/>
                                              <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                              <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                                minOccurs="0"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:choice>
                                          <xs:element name="value" type="oe:DV_TEXT"/>
                                          <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                        </xs:choice>
                                      </xs:sequence>
                                      <xs:attribute fixed="at0.166" name="archetype_node_id"
                                        type="oe:archetypeNodeId"/>
                                      <xs:attribute fixed="ELEMENT" name="type"/>
                                      <xs:attribute name="valueType" fixed="DV_TEXT"/>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute fixed="at0121" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="CLUSTER" name="type"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Data_fslash_hora_da_admissão">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          default="Data/hora da admissão"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:choice>
                                    <xs:element name="value" type="oe:DV_DATE_TIME"/>
                                    <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                  </xs:choice>
                                </xs:sequence>
                                <xs:attribute fixed="at0071" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="ELEMENT" name="type"/>
                                <xs:attribute name="valueType" fixed="DV_DATE_TIME"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute fixed="at0001" name="archetype_node_id"
                            type="oe:archetypeNodeId"/>
                          <xs:attribute fixed="ITEM_TREE" name="type"/>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="openEHR-EHR-ADMIN_ENTRY.admission-ms_br.v1"
                      name="archetype_node_id" type="oe:archetypeNodeId"/>
                    <xs:attribute fixed="EVALUATION" name="type"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute fixed="openEHR-EHR-SECTION.adhoc.v1" name="archetype_node_id"
                type="oe:archetypeNodeId"/>
              <xs:attribute fixed="SECTION" name="type"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="Imunobiológico">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="name">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="value" type="xs:string" fixed="Imunobiológico"/>
                      <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                        maxOccurs="unbounded"/>
                      <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Imunobiológico" minOccurs="1" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="name">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="xs:string" fixed="Imunobiológico"/>
                            <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                              maxOccurs="unbounded"/>
                            <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
                      <xs:element name="language">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="terminology_id">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="code_string" default="en" type="xs:string"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="encoding">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="terminology_id">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" fixed="IANA_character-sets"
                                    type="xs:token"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="code_string" default="UTF-8" type="xs:string"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="subject" type="oe:PARTY_SELF"/>
                      <xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0"
                        maxOccurs="1"/>
                      <xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0"
                        maxOccurs="unbounded"/>
                      <xs:element name="work_flow_id" type="oe:OBJECT_REF" minOccurs="0"
                        maxOccurs="1"/>
                      <xs:element name="protocol" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Extensão" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:any processContents="lax"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute fixed="at0030" name="archetype_node_id"
                            type="oe:archetypeNodeId"/>
                          <xs:attribute fixed="ITEM_TREE" name="type"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="time" type="oe:DV_DATE_TIME"/>
                      <xs:element name="description">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Nome_do_imunobiológico">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          fixed="Nome do imunobiológico"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:choice>
                                    <xs:element name="value">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="value" type="xs:string"/>
                                          <xs:element name="mappings" type="oe:TERM_MAPPING"
                                            minOccurs="0" maxOccurs="unbounded"/>
                                          <xs:element name="defining_code">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element name="terminology_id">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="value" type="xs:token"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                                <xs:element name="code_string" type="xs:string"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                  </xs:choice>
                                </xs:sequence>
                                <xs:attribute fixed="at0020.1" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="ELEMENT" name="type"/>
                                <xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Produto" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string" default="Produto"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="Detalhes_da_preparação" minOccurs="0"
                                    maxOccurs="1">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:any processContents="lax"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="Dose">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="name">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="value" type="xs:string"
                                                default="Dose"/>
                                              <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                              <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                                minOccurs="0"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:choice>
                                          <xs:element name="value">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element name="value" type="xs:string"
                                                  minOccurs="0"/>
                                                <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                  minOccurs="0" maxOccurs="unbounded"/>
                                                <xs:element name="defining_code">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="terminology_id">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="value" fixed="local"
                                                  type="xs:token"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="code_string">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="at0.160"/>
                                                  <!-- Value = Dose única -->
                                                  <xs:enumeration value="at0.161"/>
                                                  <!-- Value = 1ª dose -->
                                                  <xs:enumeration value="at0.162"/>
                                                  <!-- Value = 2ª dose -->
                                                  <xs:enumeration value="at0.163"/>
                                                  <!-- Value = 3ª dose -->
                                                  <xs:enumeration value="at0.164"/>
                                                  <!-- Value = 4ª dose -->
                                                  <xs:enumeration value="at0.165"/>
                                                  <!-- Value = 1º reforço -->
                                                  <xs:enumeration value="at0.166"/>
                                                  <!-- Value = 2º reforço -->
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                        </xs:choice>
                                      </xs:sequence>
                                      <xs:attribute fixed="at0.147" name="archetype_node_id"
                                        type="oe:archetypeNodeId"/>
                                      <xs:attribute fixed="ELEMENT" name="type"/>
                                      <xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="Registro_anterior" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="name">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="value" type="xs:string"
                                                default="Registro anterior"/>
                                              <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                              <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                                minOccurs="0"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:choice>
                                          <xs:element name="value" type="oe:DV_BOOLEAN"/>
                                          <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                        </xs:choice>
                                      </xs:sequence>
                                      <xs:attribute fixed="at0.155" name="archetype_node_id"
                                        type="oe:archetypeNodeId"/>
                                      <xs:attribute fixed="ELEMENT" name="type"/>
                                      <xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="Data_da_administração">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="name">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="value" type="xs:string"
                                                default="Data da administração"/>
                                              <xs:element name="mappings" type="oe:TERM_MAPPING"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                              <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                                minOccurs="0"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:choice>
                                          <xs:element name="value" type="oe:DV_DATE_TIME"/>
                                          <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                        </xs:choice>
                                      </xs:sequence>
                                      <xs:attribute fixed="at0.156" name="archetype_node_id"
                                        type="oe:archetypeNodeId"/>
                                      <xs:attribute fixed="ELEMENT" name="type"/>
                                      <xs:attribute name="valueType" fixed="DV_DATE_TIME"/>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="Quantidade" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:any processContents="lax"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute fixed="at0082" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="CLUSTER" name="type"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Detalhes" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:any processContents="lax"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Informações_adicionais" minOccurs="0">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="name">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="value" type="xs:string"
                                          fixed="Informações adicionais"/>
                                        <xs:element name="mappings" type="oe:TERM_MAPPING"
                                          minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                          minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:choice>
                                    <xs:element name="value" type="oe:DV_TEXT"/>
                                    <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                  </xs:choice>
                                </xs:sequence>
                                <xs:attribute fixed="at0024" name="archetype_node_id"
                                  type="oe:archetypeNodeId"/>
                                <xs:attribute fixed="ELEMENT" name="type"/>
                                <xs:attribute name="valueType" fixed="DV_TEXT"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute fixed="at0017" name="archetype_node_id"
                            type="oe:archetypeNodeId"/>
                          <xs:attribute fixed="ITEM_TREE" name="type"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="instruction_details" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="instruction_id" type="oe:LOCATABLE_REF"/>
                            <xs:element name="activity_id" type="xs:string"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="ism_transition">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="current_state" type="oe:DV_CODED_TEXT"/>
                            <xs:element name="transition" type="oe:DV_CODED_TEXT" minOccurs="0"
                              maxOccurs="1"/>
                            <xs:element name="careflow_step" type="oe:DV_CODED_TEXT" minOccurs="0"
                              maxOccurs="1"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="openEHR-EHR-ACTION.medication-ms_br.v0"
                      name="archetype_node_id" type="oe:archetypeNodeId"/>
                    <xs:attribute fixed="ACTION" name="type"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute fixed="openEHR-EHR-SECTION.medication_order_list.v1"
                name="archetype_node_id" type="oe:archetypeNodeId"/>
              <xs:attribute fixed="SECTION" name="type"/>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:attribute fixed="openEHR-EHR-COMPOSITION.encounter.v1" name="archetype_node_id"
        type="oe:archetypeNodeId"/>
      <xs:attribute fixed="COMPOSITION" name="type"/>
      <xs:attribute fixed="Registro de Imunobiológico_CN6_v2" name="template_id" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
